.order-success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .nut-image {
    margin-top: 208px;
  }
  .success-text {
    margin-top: 65.78px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    color: #32B768;
  }
  .wait-text {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    text-align: center;
    color: #525252;
    margin-top: 10px;
  }
  .order-num {
    margin-top: 202px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 89px;
    text-align: center;
    color: #000000;
  }
  .order-amount {
    margin-top: 31px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #000000;
  }
  .order-time {
    margin-top: 48px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #000000;
  }
}
