.container {
  height: calc(100vh - 131px);
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  [data-prefers-color="dark"] & {
    background-color: unset;
  }
  .empty {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 30vh;
    .emptyText {
      margin-top: 20px;
      font-size: 30px;
      color: #aaa;
    }
  }
}

.side {
  flex: none;
}

.main {
  flex: auto;
  padding: 0 24px 32px;
  overflow-y: scroll;
  h2 {
    margin: 0;
    padding: 12px 0;
  }
}
