.order-info-container {
  padding: 27px 34px 51px;
  background: #FFFFFF;
  .goods-count {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
  }
  .goods-list {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: scroll;
    margin-top: 53px;
    .goods-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      .good-name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-left: 19px;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        color: #000000;
      }
      .good-count {
        width: 80px;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        color: #000000;
      }
      .good-amount {
        width: 130px;
        text-align: right;
        font-weight: 700;
      }
    }
  }
  .goods-amount {
    text-align: right;
    font-style: normal;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    font-weight: 700;
  }
  .extra-text {
    box-sizing: border-box;
    padding: 26px;
    margin-top: 60px;
    background: #F5F5F5;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .text {
      margin-right: 10px;
    }
  }
}
