.analysis {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  .title {
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 22px;
    margin-top: 20px;
  }
  .price {
    color: blue;
    font-size: 28px;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    margin-top: 40px;
  }
  .orderNum {
    color: #333;
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .datePart {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 50px;
    .datePartIcon {
      color: blue;
      font-size: 20px;
    }
    .datePartCenter {
      color: blue;
      font-size: 20px;
    }
  }
  .dateLengthPart {
    margin-top: 10px;
    width: calc(100% - 10px);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    .dateLengthItem {
      line-height: 40px;
      padding: 0 10px;
      font-size: 16px;
    }
    .active {
      color: blue;
    }
  }
  .totalPart {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .totalItem {
      flex: 1;
      display: flex;
      flex-direction: column;
      line-height: 40px;
      justify-content: center;
      align-items: center;
      .totalPrice {
        color: blue;
        font-size: 18px;
        font-weight: bolder;
      }
    }
    .totalLeft {
      border-right: 1px solid #666;
    }
  }
  .chart {
    width: 100%;
    height: 240px;
  }
}
